
<mat-card style="width: 59%;
    margin: 20%;
    padding-left: 20%;">
    <form [formGroup]="form" (submit)="onSaveFlight()" >
        <table>
            <tr>
<mat-form-field appearance="fill">
    <mat-label>Origin</mat-label>
    <mat-select formControlName="OriginControl" required (selectionChange)="getDestinations($event.value)">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let origin of origins" [value]="origin">
            {{origin.name}}
        </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('OriginControl').invalid">Please select an Origin.</mat-error>


</mat-form-field>
            </tr>
            <tr>
    <mat-form-field appearance="fill">

    <mat-label>Destination</mat-label>
    <mat-select formControlName="DestinationControl" required >
        <mat-option>--</mat-option>
        <mat-option *ngFor="let destination of destinations" [value]="destination">
            {{destination.name}}
        </mat-option>
    </mat-select>
        <mat-error *ngIf="form.get('DestinationControl').invalid">Please select a Destination.</mat-error>
    </mat-form-field>
            </tr>
            <tr>
    <mat-form-field>
        <mat-label>Cost</mat-label>
        <input
                matInput
                type="number"
                formControlName="CostControl"
                placeholder="40000"
        >
        <mat-error *ngIf="form.get('CostControl').invalid">Please enter a Cost.</mat-error>
    </mat-form-field>
            </tr>
            <tr>
        <input type="submit" value="Save Flight" style="margin-left: -8%;">
            </tr>
        </table>
    </form>

    <div class="success" *ngIf="showSucessMessage">
        {{successMessage}}
    </div>

    <!-- Error message -->
    <div class="alert" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
    </div>


</mat-card>